.body_metaverse
{
    height: 100vh;
    overflow: hidden;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 10px 0 0 0 0;
}

.picture_metaverse
{   
    align-items: center;
    justify-content: center;
    display: flex;
}

.pic 
{   
   
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
  background-position: 40% 40%;
    background-image: url(../assets/metaverse2.jpg);
    background-size: cover;
}



.container_metaverse
{   
    display: flex;
    position: flex;
    display: grid;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: auto;
    background: rgb(83,2,80);
background: linear-gradient(247deg, rgba(83,2,80,1) 0%, rgba(80,5,125,0.75) 50%, rgba(44,0,71,0.5) 100%);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: calc(35vw - 1rem);
    height: 85vh;
    opacity: 0;
    transform: translateX(-25%);
    transition: all .5s ease-in-out;
    
}

.fade {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

.h2_metaverse
{   
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(4rem, 5vw, 6rem);
    font-family: 'Poppins';
    font-weight: 800;
    margin-left: 10%;
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p_metaverse
{
   color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 1vw, 2rem);
    font-family: 'Poppins';
    font-weight: 400;
    margin: 40px;
}

.modal {
    margin: auto;
}

.btn_metaverse {
    text-decoration: none;
    cursor: pointer;
    padding: 15px 40px;
    background: rgb(230,0,221);
    background: linear-gradient(190deg, rgb(151, 5, 219) 0%, rgba(80,5,125,1) 50%, rgb(119, 4, 190) 100%);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 0.3s;
    color: #fff;
    border-radius: 10px;
    font-size: clamp(1.25rem, 1vw, 2rem);
    font-weight: bold;

}

.btn_metaverse:hover {
    box-shadow:  0px 5px 22px #9d09c2;
    filter: brightness(1.2);
    
}

.video_container {
    position: fixed;
    top: 0;
    left: 85%;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video_container .close{
    position: absolute;
    top: 0%;
    right: -70%;
    font-size: 40px;
    cursor: pointer;
}

.video_container video{
    

    max-height: 85%;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.3s;
}

.video_container.show{
    pointer-events: all;
    opacity: 1;
}

.video_container.show video{
      transform: scale(1);
}



@media (max-width:420px) {
    
    .pic{
        position: absolute;
    background: none;
        height:90vh;
        width: 100vh;
       

    }

    .btn_metaverse, .modal {
        z-index: 10000;
    }
  
    .body_metaverse {
        background: none;
    }

    .container_metaverse{
        margin-left: 0px;
        width: 100vw;
        max-height: 700px;

        border-radius: 10px;
    }

   .container_metaverse::before { 
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(../assets/metaverse2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
   }
   
    .h2_metaverse{
        display: flex;
        font-size: 2.5rem;
        margin-left: 10%;
    }

    .p_metaverse{
        margin-left: 34px;
        margin-top: 4px;
        display: flex;
        font-size: 1.2rem;
    }

    .video_container {
        left: 0%;
    }

    .video_container video{
    

        max-height: 30%;
        
    }

    .video_container .close{
        position: absolute;
       top: 10%;
        right: 2%;
        font-size: 70px;
        cursor: pointer;
        
    }


}
