.blogList-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    transition: all ease-in-out .5s;
}

.blogList-wrap:hover {
    transition: all ease-in-out .5s;
    transform: translateY(5px);
}

@media (max-width: 768px) {
    .blogList-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .blogList-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}