.body_about {
    height: 110vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: none;
}

.div_about {
    background: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.h2_about
{   
    
    color: white;
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: 'Poppins';
    font-weight: 800;
    text-align: center;
}

.p_about {
    text-align: center;
    color: white;
    font-size: clamp(1rem, 1vw, 2rem);
    line-height: 50px;
    font-family: 'Poppins';
    font-weight: 400;
}

.text_about {
    justify-content: center;
    margin: auto;
    width: 50%;
}

.spline_model {
    
    display: flex;
    position: relative;
    height: 50vh;
    margin: auto
}

@media (max-width: 500px) {
    .spline_model {
        display: none;
        visibility: none;
    }
}