

  .body-blog {
    background: rgb(0,0,0);
    background: linear-gradient(200deg, rgb(0, 0, 0) 0%, rgb(79, 23, 176) 50%, rgba(99,23,143,1) 72%, rgba(54,40,94,1) 100%);
   padding: 1rem 0;
   margin: 0 auto;
   width: 95%;
   height: 100vh;
  }

    
  .blog-goBack2 {
    text-decoration: none;
    font-size: 1.25rem;
    color: #a9a9a9;
    font-weight: 500;
    display: block;
    font-family: 'Poppins';
    transition: all ease-in-out .5s;
  }

  .blog-goBack2:hover {
    transform: translateX(-5px);
    transition: all ease-in-out .5s;
  }