.chip {
    font-size: 0.7rem;
    background: linear-gradient(to right, #5c027d, #a952c9);
    color: #fff;
    padding: 0.3rem 0.5rem;
    margin-left: .25rem;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
    font-family: 'Poppins';
  }