.chip {
    font-size: 0.7rem;
    background: linear-gradient(to right, #b900fc, #8d03c0);
    color: #fff;
    padding: 0.3rem 0.5rem;
    margin-left: .6rem;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
    font-family: 'Poppins';
  }