.hero_div {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image:url(../assets/abstract.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.reftext {
    justify-content: center;
    align-self: center;
    display: flex;
    height: 100%;
    
}